<div class="header">
    <h1>My Daily Schedule</h1>
    <h2>{{ currentDate | date: 'fullDate' }}</h2>
  </div>
  
  <div class="month-container">
    <div *ngFor="let day of daysOfMonth" class="task-container">
      <div *ngFor="let task of visibleTasks; let i = index" class="task-card" 
           [class.focus]="isCurrentTask(task)" 
           [style.opacity]="getOpacity(i)">
        <div class="progress" *ngIf="isCurrentTask(task)" [style.width]="getProgress(task) + '%'"></div>
        <h2>{{ task.title }}</h2>
        <p>{{ task.startTime }} - {{ task.endTime }}</p>
      </div>
    </div>
  </div>